.layout {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    background-color: white;
    border-collapse: collapse;
}

.layout tr td {
    padding: 20px;
    vertical-align: top;
    border: solid 1px gray;
}

.header {
    font-size: 30px;
}

.footer {
    text-align: center;
}

.sidebarHeader {
    font-size: 20px;
}

.sidebar ul {
    padding-left: 20px;
}

p {
    margin: 0;
    align-content: center;
}

a, a:visited {
    color: darkgreen;
    text-decoration-line: none;
}

.comment {
    margin-top: 20px;
    display: flex;
}

.comment-avatar {
    height: 38px;
}

.comment-body {
    margin-left: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comment-body-title {
    font-weight: bold;
    font-size: 20px;
    color: rgb(0, 113, 235);
    display: flex;
    justify-content: space-between;
}

img.buttons {
    height: 14px;
}

.article-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}